
@{
    ViewBag.Title = "Copy hàng pha chế";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function CheckNumeric(e) {
        if (window.event) // IE
        {
            if ((e.keyCode < 48 || e.keyCode > 57) & e.keyCode != 8 & e.keyCode != 44 & e.keyCode != 46) {
                alert("Bạn phải nhập số");
                event.returnValue = false;
                return false;

            }
        }
        else { // Fire Fox
            if ((e.which < 48 || e.which > 57) & e.which != 8 & e.which != 44 & e.which != 46) {
                alert("Bạn phải nhập số");
                e.preventDefault();
                return false;

            }
        }

    }
</script>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Dashboard</a></li>
                    <li class="breadcrumb-item active">Copy hàng pha chế <a href="#" id="link_refresh"><i class="nav-icon fas fa-sync-alt"></i></a></li>
                </ol>
            </div>
            <div class="col-sm-6">
                <div class="float-right">
                    <button type="button" id="btn_create_product" name="btn_create_product" class="btn btn-primary "><i class="fas fa-check"></i> Lưu</button>
                    <a href="@Url.Action("Index","DmHangHoa")" class="btn btn-warning"> <i class="fas fa-backward"></i> Quay lại</a>
                </div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.container-fluid -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-8">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="hidden" id="txtDnMH_ID" name="txtDnMH_ID" />
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Mã hàng hóa</label>
                                        <input type="text" id="txtMaHH" name="txtMaHH" class="form-control" placeholder="Nhập mã ..." />
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Tên hàng hóa</label>
                                        <input type="text" id="txtTenHH" name="txtTenHH" class="form-control" placeholder="Nhập tên ...">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Chọn ĐVT</label>
                                        <div class="input-group">
                                            <select id="DVT_ID" name="DVT_ID" class="form-control selectdvt">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Chọn Nhóm hàng hóa</label>
                                        <div class="input-group">
                                            <select id="LoaiHH_ID" name="LoaiHH_ID" class="form-control select">
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Giá bán 1</label>
                                        <input type="text" id="txtGiaBan1" name="txtGiaBan1" class="form-control" maxlength="15" value="0" style="text-align:right;">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Giá bán 2</label>
                                        <input type="text" id="txtGiaBan2" name="txtGiaBan2" class="form-control" maxlength="15" value="0" style="text-align:right;">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Giá bán 3</label>
                                        <input type="text" id="txtGiaBan3" name="txtGiaBan3" class="form-control" maxlength="15" value="0" style="text-align:right;">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset>
                                <legend>Thành phần nguyên liệu</legend>
                                <table class="table table-sm table-bordered nowrap" cellpadding="0" width="100%" id="TableCT">
                                    <thead>
                                        <tr>
                                            <th>
                                                Mã hàng
                                            </th>
                                            <th>
                                                Tên hàng
                                            </th>
                                            <th style="text-align:center;">
                                                ĐVT
                                            </th>
                                            <th style="text-align:right;">
                                                Số lượng
                                            </th>
                                            <th>

                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                                <div class="small-box bg-secondary disabled color-palette">
                                    <div class="inner">
                                        <h6>Tổng số: <span id="spCount" class="text-warning"> 0</span> mặt hàng</h6>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <legend>Danh mục nguyên liệu bếp</legend>
                                <table class="table table-sm table-bordered nowrap" cellpadding="0" width="100%" id="TableNguyenLieu">
                                    <thead>
                                        <tr>
                                            <th>
                                                HH_ID
                                            </th>
                                            <th>
                                                DVT_ID
                                            </th>
                                            <th>

                                            </th>
                                            <th>
                                                Mã hàng
                                            </th>
                                            <th>
                                                Tên hàng
                                            </th>
                                            <th style="text-align:center;">
                                                ĐVT
                                            </th>

                                        </tr>
                                    </thead>
                                </table>

                            </fieldset>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
   
</section>

@section scripts{
    <script src="~/Scripts/thienphong/formatnumber.js"></script>
    <style type="text/css">
        .green {
            color: Green;
        }

        .red {
            color: Red;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {

            //check no space ma hang
            $('#txtMaHH').keypress(function (event) {
                if ($('#txtMaHH').val().indexOf(' ') !== -1) {
                    toastr.error('Không được có khoản trắng !', 'Bị lỗi', { timeOut: 3000 });
                    event.preventDefault();
                }
            });
            // Load Dropdown list unit
            loadDropdownUnit();
            function loadDropdownUnit() {
                //load  unit list
                $.ajax({
                    url: "/DmHangHoa/LoadLaiDVT",
                    type: "GET",
                    dataType: "JSON",
                    success: function (data) {
                        $('#DVT_ID').empty();
                        // $('#TenDVT').append("<option value=''>Chọn nhóm hàng</option>");
                        $.each(data, function (key, value) {
                            $("#DVT_ID").append($("<option></option>").val(value.DVT_ID).html(value.TenDVT));
                        });
                    },
                });
            }
            //Load table nguyen lieu
            var myTable = $('#TableNguyenLieu');
            var t = myTable.DataTable({
                'paging': false,
                'lengthChange': false,
                'searching': false,
                'ordering': false,
                'info': false,
                'autoWidth': false,
                'responsive': true,
                'select': true,
                'ajax': {
                    "url": "/DmHangHoa/GetListNguyenLieu",
                    "type": "GET",
                    "datatype": "json",
                },
                'columns': [
                    { "data": "HH_ID", visible: false },
                    { "data": "DVT_ID", visible: false },
                    {
                        "data": "HH_ID", "render": function (data) {
                            return "<a href='javascript:void(0);' id='btn_add' data-id=" + data + "  class='btn btn-sm btn-success' title ='Thêm hàng')><i class='fas fa-backward'></i></a>";
                        }, className: "text-center", width: "10%"
                    },
                    { "data": "MaHH" },
                    { "data": "TenHH" },
                    { "data": "TenDVT", className: "text-center" },

                ],
                'language': {
                    "emptyTable": "Chưa có thông tin nào hiện thị"
                }

            });
            //Load table chi tiet ding luong
            var myTableCT = $('#TableCT');
            var CT = myTableCT.DataTable({
                'paging': false,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false,
                "responsive": true,
                "select": true,
                'columns': [
                    { 'title': 'Mã hàng' },
                    { 'title': 'Tên hàng' },
                    { 'title': 'ĐVT', className: "text-center" },
                    { 'title': 'Số lượng', className: "text-center" },
                    { 'title': '', className: 'text-center' }
                ],
                "language": {
                    "emptyTable": "Chưa có thông tin nào hiện thị"
                }

            });
            //Load Dropdown list group product
            loadDropdownGroupProduct();
            function loadDropdownGroupProduct() {
                //load  GroupProduct list
                $.ajax({
                    url: "/DmHangHoa/NhomHangList",
                    type: "GET",
                    dataType: "JSON",
                    success: function (data) {
                        $('#LoaiHH_ID').empty();
                        //$('#LoaiHH_ID').append("<option value=''>Chọn nhóm hàng</option>");
                        $.each(data, function (key, value) {
                            $("#LoaiHH_ID").append($("<option></option>").val(value.LoaiHH_ID).html(value.TenLoaiHH));
                        });
                        loadFormEditProductById();
                    },
                });
            }
            //loadFormEditProductById();
            function loadFormEditProductById() {
                var code = localStorage.getItem("myValue");
                $.ajax({
                    url: "/DmHangHoa/GetDetailDinhLuongByCode",
                    type: "GET",
                    dataType: "JSON",
                    data: { Ma: code },
                    success: function (data) {
                        $('#txtDnMH_ID').val(data.DnMH_ID);
                        $('#txtMaHH').val(data.MaDnMH);
                        $('#txtTenHH').val(data.TenDnMH);
                        $('#DVT_ID').select2().val(data.DVT_ID).trigger('change');
                        $('#LoaiHH_ID').select2().val(data.LoaiHH_ID).trigger('change');
                        $('#txtGiaBan1').val(CurrencyFormatted(data.GiaBan1));
                        $('#txtGiaBan2').val(CurrencyFormatted(data.GiaBan2));
                        $('#txtGiaBan3').val(CurrencyFormatted(data.GiaBan3));
                        LoadDetailProduct();
                    },
                });
            }
            function LoadDetailProduct() {
                var id = $('#txtDnMH_ID').val();
                var table = $("#TableCT tbody");
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'GET',
                    url: "/DmHangHoa/GetListEditProductDinhLuongById",
                    data: { id: id },
                    success: function (data) {
                        table.empty();
                        $.each(data, function (a, b) {
                            table.append('<tr role="row"><td style="display:none;">' + b.HH_ID + '</td>' +
                                '<td style="display:none;">' + b.DVT_ID + '</td>' +
                                '<td style="text-align:center; width: 20%;">' + b.MaHH + '</td>' +
                                '<td style="text-align:left; white-space:normal; width: 30%;">' + b.TenHH + '</td>' +
                                '<td style="text-align:center; width: 10%;">' + b.TenDVT + '</td>' +
                                '<td style="width: 30%;"><input type="text" id="txtSoLuong" class="form-control text-center" value="' + CurrencyFormattedThapPhan(b.SoLuong) + '"></td>' +
                                '<td style="width: 10%;"><a href = "javascript:void(0);" id="btnxoaCT" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></td></tr>');

                        });
                        var records = $("#TableCT tr").length - 1;
                        $('#spCount').text(records);
                    },
                    error: function () {
                        alert("error");
                    }

                });

            }
            //refresh form
            ClearFormProduct();
            function ClearFormProduct() {
                $('#txtMaHH').val('');
                $('#txtTenHH').val('');
                $('#txtGiaMua').val('0');
                $('#txtGiaBan1').val('0');
                $('#txtGiaBan2').val('0');
                $('#txtGiaBan3').val('0');
                $('#TableCT').DataTable().clear().draw();
            }
            //btn link_refresh
            $('#link_refresh').click(function () {
                $('#txtMaHH').val('');
                $('#txtTenHH').val('');
                $('#txtGiaMua').val('0');
                $('#txtGiaBan1').val('0');
                $('#txtGiaBan2').val('0');
                $('#txtGiaBan3').val('0');
                $('#TableCT').DataTable().clear().draw();
            })
             //Create product
            $('#btn_create_product').click(function () {

                var codeproduct = $('#txtMaHH').val();
                var nameproduct = $('#txtTenHH').val();
                var dvt_id = $('#DVT_ID option:selected').val();
                var loaihh_id = $('#LoaiHH_ID option:selected').val();
                var giaban1 = $('#txtGiaBan1').val().replace(/,/g, "");
                var giaban2 = $('#txtGiaBan2').val().replace(/,/g, "");
                var giaban3 = $('#txtGiaBan3').val().replace(/,/g, "");
                var status = 0;
                if (codeproduct === "") {
                    toastr.error('Chưa nhập mã hàng !', 'Bị lỗi', { timeOut: 3000 });
                    return;
                }
                if (codeproduct.indexOf(' ') !== -1) {
                    toastr.error('Không được có khoản trắng !', 'Bị lỗi', { timeOut: 3000 });
                    return;
                }
                if (nameproduct === "") {
                    toastr.error('Chưa nhập tên hàng !', 'Bị lỗi', { timeOut: 3000 });
                    return;
                }

                //Check product
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CheckMaHangHoa", "DmHangHoa")',
                    data: { CodeProduct: codeproduct },

                    success: function (data) {
                        if (data == true) {
                            //Create product
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("CreateDanhMucDnMH", "DmHangHoa")',
                                data: {
                                    MaDnMH: codeproduct,
                                    TenDnMH: nameproduct,
                                    DVT_ID: dvt_id,
                                    LoaiHH_ID: loaihh_id,
                                    GiaBan1: giaban1,
                                    GiaBan2: giaban2,
                                    GiaBan3: giaban3,
                                    Status: status
                                },
                                success: function (output) {
                                    var last_id = output.DnMH_ID; // this is the id
                                    $('#txtDnMH_ID').val(last_id);
                                    if ($('#spCount').text() == 0) {
                                        window.location.href = "/DmHangHoa/Index";
                                    }
                                    else {
                                        insertDetailNguyenLieu();
                                    }
                                },
                                error: function (data) {
                                    console.log('Error:', data);
                                }
                            });
                        }
                        else {
                            toastr.error('Mã hàng này đã có !', 'Bị lỗi', { timeOut: 3000 });
                        }
                    }
                });
            })
            //Create detail product nguyen lieu dinh luong
            function insertDetailNguyenLieu() {
                var products = new Array();
                $("#TableCT TBODY TR").each(function () {
                    var row = $(this);
                    var product = {};
                    //var data1 = oTable.row( $(this).parents('tr') ).data()["position"];
                    product.DnMH_ID = $('#txtDnMH_ID').val();
                    product.HH_ID = row.find('td:eq(0)').text();
                    product.DVT_ID = row.find('td:eq(1)').text();
                    product.SoLuong = tp_soluong_currency_format(row.find("#txtSoLuong").val());
                    products.push(product);

                });
                //Send the JSON array to Controller using AJAX.
                $.ajax({
                    type: "POST",
                    url: "/DmHangHoa/InsertChiTietNguyenLieu",
                    data: JSON.stringify(products),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        toastr.success('Bạn đã sửa thành công!', 'Thành công Alert', { timeOut: 3000 });
                        window.location.href = "/DmHangHoa/Index";
                        ClearFormProduct();
                    }
                });
            }
            //functon format number 100,000
            function CurrencyFormatted(nStr) {
                nStr += '';
                x = nStr.split(',');
                x1 = x[0];
                x2 = x.length > 1 ? ',' + x[1] : '';
                var rgx = /(\d+)(\d{3})/;
                while (rgx.test(x1)) {
                    x1 = x1.replace(rgx, '$1' + ',' + '$2');
                }
                return x1 + x2;
            }
            //format number for display thap phan
            function CurrencyFormattedThapPhan(nStr) {
                nStr = nStr.toFixed(2) + '';
                x = nStr.split(',');
                x1 = x[0];
                x2 = x.length > 1 ? ',' + x[1] : '';
                var rgx = /(\d+)(\d{3})/;
                while (rgx.test(x1)) {
                    x1 = x1.replace(rgx, '$1' + ',' + '$2');
                }
                return x1 + x2;

            }
            //btn them chi tiet
            $('#TableNguyenLieu tbody').on('click', '[id*=btn_add]', function () {

                var add_id = $(this).data("id");
                $.ajax({
                    url: "/DmHangHoa/GetDmHangHoaByID",
                    method: "GET",
                    dataType: "json",
                    data: { id: add_id },
                    success: function (data) {
                        var macode = data.ProductCode;
                        myTableCT.find('tr').each(function () {
                            if ($(this).find('td:first').parent().find('td:eq(2)').text().trim() == macode) {
                                toastr.error('Nguyên liệu này đã có !', 'Bị lỗi', { timeOut: 3000 });
                                var rowSelector = $(this);
                                rowSelector.remove();
                                return false;
                            }

                        });

                        var newrow = $('<tr>')
                            .append('<td style="display:none;">' + data.ProductId + '</td>')
                            .append('<td style="display:none;">' + data.UnitId + '</td>')
                            .append('<td style="width: 20%;">' + data.ProductCode + '</td>')
                            .append('<td style="width: 30%;">' + data.ProductName + '</td>')
                            .append('<td style="width: 10%;">' + data.UnitName + '</td>')
                            .append('<td style="width: 30%;"><input type="text" id="txtSoLuong" class="form-control text-center" value="' + 0 + '"></td>')
                            .append('<td style="width: 10%;"><a href="javascript:void(0);" id="btnxoaCT" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></td>')

                        CT.row.add(newrow).join();
                        $('#TableCT tbody').append(newrow);
                        var records = $("#TableCT tr").length - 1;
                        $('#spCount').text(records);
                    },
                    error: function (data) {
                        console.log('Error:', data);
                    }

                });

            });
            ////Delete row in table chi tiet
            $('body').on('click', '#btnxoaCT', function () {
                CT.row($(this).parent().parent().remove());
                var records = $("#TableCT tr").length - 1;
                $('#spCount').text(records);
            });
            function tp_soluong_currency_format(obs) {
                if (obs == '')
                    return 0;
                else
                    return parseFloat(obs.replace(/,/g, ''));
            }
        });
    </script>
}





