
@{
    ViewBag.Title = "Tạo hàng pha chế";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Dashboard</a></li>
                    <li class="breadcrumb-item active">Tạo hàng pha chế <a href="#" id="link_refresh"><i class="nav-icon fas fa-sync-alt"></i></a></li>
                </ol>
            </div>
            <div class="col-sm-6">
                <div class="float-right">
                    <button type="button" id="btn_create_product" class="btn btn-primary "><i class="fas fa-check"></i> Lưu</button>
                    <button type="button" id="btn_create_productContinue" class="btn btn-primary "><i class="fas fa-save"></i> Lưu và tiếp tục</button>
                    <a href="@Url.Action("Index","DmHangHoa")" class="btn btn-warning"> <i class="fas fa-backward"></i> Quay lại</a>
                </div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.container-fluid -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-8">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-sm-4">
                                    <!-- text input -->
                                    <input type="hidden" id="txtDnMH_ID" name="txtDnMH_ID" value="" />
                                    <div class="form-group">
                                        <label>Mã hàng hóa <span style="color:red;">(*)</span></label>
                                        <input type="text" id="txtMaHH" name="txtMaHH" class="form-control" maxlength="15" value="" placeholder="Nhập mã hàng">
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Tên hàng hóa <span style="color:red;">(*)</span></label>
                                        <input type="text" id="txtTenHH" name="txtTenHH" class="form-control" maxlength="15" value="" placeholder="Nhập tên hàng">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Chọn ĐVT</label>
                                        <div class="input-group">
                                            <select id="DVT_ID" name="DVT_ID" class="form-control col-md-9 selectdvt">
                                            </select>
                                            <span class="input-group-append">
                                                <button type="button" id="btn_unit" name="btn_unit" class="btn btn-info btn-flat"><i class="fas fa-plus"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Chọn Nhóm hàng hóa</label>
                                        <div class="input-group">
                                            <select id="LoaiHH_ID" name="LoaiHH_ID" class="form-control col-md-10 selectdvt">
                                            </select>
                                            <span class="input-group-append">
                                                <button type="button" id="btn_nhomhh" name="btn_nhomhh" class="btn btn-info btn-flat"><i class="fas fa-plus"></i></button>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Giá bán 1</label>
                                        <input type="text" id="txtGiaBan1" name="txtGiaBan" class="form-control" maxlength="15" value="0" style="text-align:right;">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Giá bán 2</label>
                                        <input type="text" id="txtGiaBan2" name="txtGiaBan1" class="form-control" maxlength="15" value="0" style="text-align:right;">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Giá bán 3</label>
                                        <input type="text" id="txtGiaBan3" name="txtGiaBan2" class="form-control" maxlength="15" value="0" style="text-align:right;">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset>
                                <legend>Thành phần nguyên liệu</legend>
                                <table class="table table-sm table-bordered nowrap" cellpadding="0" width="100%" id="TableCT">
                                    <thead>
                                        <tr>
                                            <th>HH_ID</th>
                                            <th>DVT_ID</th>
                                            <th>
                                                Mã hàng
                                            </th>
                                            <th>
                                                Tên hàng
                                            </th>
                                            <th style="text-align:center;">
                                                ĐVT
                                            </th>
                                            <th style="text-align:right;">
                                                Số lượng
                                            </th>
                                            <th>

                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                                <div class="small-box bg-secondary disabled color-palette">
                                    <div class="inner">
                                        <h6>Tổng số: <span id="spCount" class="text-warning"> 0</span> mặt hàng</h6>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <legend>Danh mục nguyên liệu bếp</legend>
                                <table class="table table-sm table-bordered nowrap" cellpadding="0" width="100%" id="TableNguyenLieu">
                                    <thead>
                                        <tr>
                                            <th>
                                                HH_ID
                                            </th>
                                            <th>
                                                DVT_ID
                                            </th>
                                            <th>

                                            </th>
                                            <th>
                                                Mã hàng
                                            </th>
                                            <th>
                                                Tên hàng
                                            </th>
                                            <th style="text-align:center;">
                                                ĐVT
                                            </th>

                                        </tr>
                                    </thead>
                                </table>

                            </fieldset>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalUnit" role="dialog" data-url='@Url.Action("_PartialDVT","DmHangHoa")'></div>
    <div class="modal fade" id="myModalGroupProduct" role="dialog" data-url='@Url.Action("_PartialNhomHang","DmHangHoa")'></div>
</section>

@section scripts{

    <script src="~/Scripts/thienphong/formatnumber.js"></script>
    <style type="text/css">
        .green {
            color: Green;
        }

        .red {
            color: Red;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            //check no space ma hang
            $('#txtMaHH').keypress(function (event) {
                if ($('#txtMaHH').val().indexOf(' ') !== -1) {
                    toastr.error('Không được có khoản trắng !', 'Bị lỗi', { timeOut: 3000 });
                    event.preventDefault();
                }
            });
            //Load tat ca danh muc nguyen lieu
            var myTable = $('#TableNguyenLieu');
            var t = myTable.DataTable({
                'paging': false,
                'lengthChange': false,
                'searching': false,
                'ordering': false,
                'info': false,
                'autoWidth': false,
                'responsive': true,
                'select': true,
                'ajax': {
                    "url": "/DmHangHoa/GetListNguyenLieu",
                    "type": "GET",
                    "datatype": "json",
                },
                'columns': [
                    { "data": "HH_ID", visible: false},
                    { "data": "DVT_ID", visible: false},
                    {
                        "data": "HH_ID", "render": function (data) {
                            return "<a href='javascript:void(0);' id='btn_add' data-id=" + data + "  class='btn btn-sm btn-success' title ='Thêm hàng')><i class='fas fa-backward'></i></a>";
                        }, className: "text-center", width: "10%"
                    },
                    { "data": "MaHH" },
                    { "data": "TenHH" },
                    { "data": "TenDVT", className: "text-center" },

                ],
                'language': {
                    "emptyTable": "Chưa có thông tin nào hiện thị"
                }

            });
            //Load table chi tiet ding luong
            var myTableCT = $('#TableCT');
            var CT = myTableCT.DataTable({
                'paging': false,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false,
                "responsive": true,
                "select": true,
                'columns': [
                    { 'title': 'HH_ID', visible: false},
                    { 'title': 'DVT_ID', visible: false},
                    { 'title': 'Mã hàng' },
                    { 'title': 'Tên hàng' },
                    { 'title': 'ĐVT', className: "text-center"},
                    { 'title': 'Số lượng', className: "text-center" },
                    { 'title': '', className: 'text-center' }
                ],
                "language": {
                    "emptyTable": "Chưa có thông tin nào hiện thị"
                }

            });
            // Load list unit
            loadListUnit();
            function loadListUnit() {
                //load  unit list
                $.ajax({
                    url: "/DmHangHoa/LoadLaiDVT",
                    type: "GET",
                    dataType: "JSON",
                    success: function (data) {
                        $('#DVT_ID').empty();
                        // $('#TenDVT').append("<option value=''>Chọn nhóm hàng</option>");
                        $.each(data, function (key, value) {
                            $("#DVT_ID").append($("<option></option>").val(value.DVT_ID).html(value.TenDVT));
                        });
                    },
                });
            }
            //Load list group product
            loadListGroupProduct();
            function loadListGroupProduct() {
                //load  GroupProduct list
                $.ajax({
                    url: "/DmHangHoa/NhomHangList",
                    type: "GET",
                    dataType: "JSON",
                    success: function (data) {
                        $('#LoaiHH_ID').empty();
                        //$('#LoaiHH_ID').append("<option value=''>Chọn nhóm hàng</option>");
                        $.each(data, function (key, value) {
                            $("#LoaiHH_ID").append($("<option></option>").val(value.LoaiHH_ID).html(value.TenLoaiHH));
                        });
                        //$("#LoaiHH_ID").prop('selectedIndex', 1);
                    },
                });
            }
            //Load list group product in form modal
            loadListGroupProductModal();
            function loadListGroupProductModal() {
                //load  GroupProduct list Modal
                $.ajax({
                    url: "/DmHangHoa/NhomHangList",
                    type: "GET",
                    dataType: "JSON",
                    success: function (data) {
                        $('#LoaiHH_ID_Modal').empty();
                        $('#LoaiHH_ID_Modal').append("<option value=''>Cấp cha</option>");
                        $.each(data, function (key, value) {
                            $("#LoaiHH_ID_Modal").append($("<option></option>").val(value.LoaiHH_ID).html(value.TenLoaiHH));
                        });
                    },
                });
            }
            //btn them chi tiet
            $('#TableNguyenLieu tbody').on('click', '[id*=btn_add]', function () {

                var add_id = $(this).data("id");
                $.ajax({
                    url: "/DmHangHoa/GetDmHangHoaByID",
                    method: "GET",
                    dataType: "json",
                    data: { id: add_id },
                    success: function (data) {
                        var macode = data.MaHH;
                        myTableCT.find('tr').each(function () {
                            if ($(this).find('td:first').parent().find('td:eq(0)').text().trim() == macode) {
                                toastr.error('Nguyên liệu này đã có !', 'Bị lỗi', { timeOut: 3000 });
                                $(this).addClass('remove');
                            }

                        });
                        CT.row('.remove').remove().draw(false);
                        var newrow = $('<tr>')
                            .append('<td style="display:none;">' + data.HH_ID + '</td>')
                            .append('<td style="display:none;">' + data.DVT_ID + '</td>')
                            .append('<td style="width: 20%;">' + data.MaHH + '</td>')
                            .append('<td style="width: 30%;">' + data.TenHH + '</td>')
                            .append('<td style="width: 10%;">' + data.TenDVT + '</td>')
                            .append('<td style="width: 30%;"><input type="text" id="txtSoLuong" class="form-control text-center" value="' + 0 + '"></td>')
                            .append('<td style="width: 10%;"><a href="javascript:void(0);" id="btnxoaCT" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></td>')

                        CT.row.add(newrow).draw(false);
                        $('#TableCT tbody').append(newrow);
                        //update lai tong so luong va mat hang
                        var records = CT.data().length;
                        $('#spCount').text(records);

                    },
                    error: function (data) {
                        console.log('Error:', data);
                    }

                });

            });
            ////Delete row in table chi tiet
            $('body').on('click', '#btnxoaCT', function () {
                CT.row($(this).parents('tr')).remove().draw(false);
                var records = CT.data().length;
                $('#spCount').text(records);
            });
            //event keyup txtSoLuong
            $('#TableCT tbody').on('keyup', '[id*=txtSoLuong]', function () {
                if ($("#txtSoLuong").val() == '') {
                    $("#txtSoLuong").val(0);

                }
            });
            $('#TableCT tbody').on('keydown', '[id*=txtSoLuong]', function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    // Allow: Ctrl+A, Command+A
                    (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right, down, up
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
            //refresh form
            ClearFormProduct();
            function ClearFormProduct() {
                $('#txtDnMH_ID').val('');
                $('#txtMaHH').val('');
                $('#txtTenHH').val('');
                $('#txtGiaMua').val('0');
                $('#txtGiaBan1').val('0');
                $('#txtGiaBan2').val('0');
                $('#txtGiaBan3').val('0');
                $('#TableCT').DataTable().clear().draw();
            }
            //btn link_refresh
            $('#link_refresh').click(function () {
                $('#txtDnMH_ID').val('');
                $('#txtMaHH').val('');
                $('#txtTenHH').val('');
                $('#txtGiaMua').val('0');
                $('#txtGiaBan1').val('0');
                $('#txtGiaBan2').val('0');
                $('#txtGiaBan3').val('0');
                $('#TableCT').DataTable().clear().draw();
            })
            //Load Popup Modal Unit
            $('#btn_unit').click(function () {
                var url = $('#myModalUnit').data('url');
                $.get(url, function (data) {

                    //load table unite
                    $('#myModalUnit').html(data);
                    $('#myModalUnit').modal('show');
                    $("#TableUnit").DataTable({
                        "ajax": {
                            "url": "/DmHangHoa/GetListDmDVT",
                            "type": "GET",
                            "datatype": "json",
                        },
                        "columns": [
                            { "data": "DVT_ID", "visible": false },
                            { "data": "TenDVT" },
                            {
                                "data": "DVT_ID", "render": function (data) {
                                    return "<a href='javascript:void(0);' id='btn_edit_unit' data-id=" + data + " class='btn btn-sm btn-info' style='margin-left:5px'><i class='fas fa-edit'></i> Sửa</a><a href='javascript:void(0);' id='btn_delete_unit' data-id=" + data + " class='btn btn-sm btn-danger' style='margin-left:5px'><i class='fas fa-trash'></i> Xóa</a>";
                                },
                            },
                        ],
                        "language": {

                            "emptyTable": "Chưa có nội dung hiện thị"
                        }

                    });
                });
            });
            //Save unit
            $(document).on('click', '#btn_unit_save', function () {
                var tendvt = $('#unitName_add').val();
                var congty_id = "@Session["congty_id"]";
                var status = 0;
                var statusLoi = $("#divStatus");
                statusLoi.html("Checking....").removeClass();

                if (tendvt === "") {
                    toastr.error('Chưa nhập tên !', 'Bị lỗi', { timeOut: 3000 });

                }
                else {
                    //check name already
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("CheckDVT", "DmHangHoa")',
                        data: { unitname: tendvt },
                        success: function (data) {
                            if (data == true) {
                                statusLoi.html(name + " Tên này nhập được!").addClass("green");
                                //Create name unit
                                $.ajax({
                                    type: "POST",
                                    url: '@Url.Action("CreateDVT", "DmHangHoa")',
                                    data: {
                                        TenDVT: tendvt,
                                        TenCongTy_ID: congty_id,
                                        Status: status
                                    },
                                    success: function (data) {
                                        toastr.success('Bạn đã tạo thành công!', 'Thành công Alert', { timeOut: 3000 });
                                        $('#myModalUnit').modal('hide');
                                        loadListUnit();

                                    },
                                    error: function (data) {
                                        console.log('Error:', data);
                                    }

                                });
                            } else {
                                statusLoi.html(name + " Tên này đã có!").addClass("red");
                            }
                        }
                    });

                }
            });
            //Save unit and continue
            $(document).on('click', '#btn_unit_continue', function () {
                var tendvt = $('#unitName_add').val();
                var congty_id = "@Session["congty_id"]";
                var status = 0;
                var statusLoi = $("#divStatus");
                statusLoi.html("Checking....").removeClass();

                if (tendvt === "") {
                    toastr.error('Chưa nhập tên !', 'Bị lỗi', { timeOut: 3000 });
                    statusLoi.html("Bạn chưa nhập tên!").removeClass();
                }
                else {
                    //check name already
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("CheckDVT", "DmHangHoa")',
                        data: { unitname: tendvt },
                        success: function (data) {
                            if (data == true) {
                                statusLoi.html(name + " Tên này nhập được!").addClass("green");
                                //Create name unit
                                $.ajax({
                                    type: "POST",
                                    url: '@Url.Action("CreateDVT", "DmHangHoa")',
                                    data: {
                                        TenDVT: tendvt,
                                        TenCongTy_ID: congty_id,
                                        Status: status
                                    },
                                    success: function (data) {
                                        toastr.success('Bạn đã tạo thành công!', 'Thành công Alert', { timeOut: 3000 });
                                        $('#unit_id_add').val("");
                                        $('#unitName_add').val("");
                                        $('#TableUnit').DataTable().ajax.reload();
                                        statusLoi.html(name + " Đã nhập thành công!").addClass("green");
                                        $('#DVT_ID').empty();
                                        loadListUnit();
                                        //$('#myModalUnit').modal('hide');
                                    },
                                    error: function (data) {
                                        console.log('Error:', data);
                                    }

                                });
                            } else {
                                statusLoi.html(name + " Tên này đã có!").addClass("red");
                            }
                        }
                    });

                }
            });
            //btn Edit unit
            $(document).on('click', '#btn_edit_unit', function () {
                var edit_id = $(this).data("id");
                $.ajax({
                    url: "/DmHangHoa/EditDmDVTByID",
                    type: "GET",
                    dataType: "JSON",
                    data: { id: edit_id },
                    success: function (data) {
                        $('#unit_id_add').val(data.DVT_ID);
                        $('#unitName_add').val(data.TenDVT);
                        //click link to show tabs
                        $('#link_unitTab').find('a').trigger('click');
                        $('#btn_unit_continue').hide();
                        $('#btn_unit_save').hide();
                        $('#btn_unit_edit_save').show();
                        $('#btn_unit_cancel').show();
                    },
                });
            });
            //btn save Edit unit
            $(document).on('click', '#btn_unit_edit_save', function () {
                var id = $('#unit_id_add').val();
                var name = $('#unitName_add').val();
                var congty_id = "@Session["congty_id"]";
                var status = 0;
                if (name === "") {
                    toastr.error('Chưa nhập tên !', 'Bị lỗi', { timeOut: 3000 });
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateEditDmDVT", "DmHangHoa")',
                    data: { DVT_ID: id, TenDVT: name, TenCongTy_ID: congty_id, Status: status },
                    success: function (data) {
                        if (data == true) {
                            toastr.success('Bạn đã sửa đối tượng này!', 'Thành công Alert', { timeOut: 5000 });
                            $('#unit_id_add').val('');
                            $('#unitName_add').val('');
                            $('#TableUnit').DataTable().ajax.reload();
                            //click link to show tabs
                            $('#link_list_unitTab').find('a').trigger('click');
                            $('#btn_unit_continue').show();
                            $('#btn_unit_save').show();
                            $('#btn_unit_edit_save').hide();
                            $('#btn_unit_cancel').hide();
                        }
                        else {
                            toastr.error('Tên này đã có. Bạn phải nhập tên khác !', 'Không thành công Alert', { timeOut: 5000 });
                            $('#unitName_add').focus();
                        }
                    },
                    error: function (data) {
                        console.log('Error:', data);
                    }
                });
            });
            //btn cancel unit
            $(document).on('click', '#btn_unit_cancel', function () {
                $('#unit_id_add').val('');
                $('#unitName_add').val('');
                //click link to show tabs
                $('#link_list_unitTab').find('a').trigger('click');
                $('#btn_unit_continue').show();
                $('#btn_unit_save').show();
                $('#btn_unit_edit_save').hide();
                $('#btn_unit_cancel').hide();

            });
            //Delete unit
            $(document).on('click', '#btn_delete_unit', function () {
                var delete_id = $(this).data("id");
                if (confirm('Bạn có muốn xóa tên đơn vị tính này ?')) {
                    //Check ID in product
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("CheckDVTinDmHangHoa", "DmHangHoa")',
                        data: { Id: delete_id },
                        success: function (data) {
                            if (data == true) {
                                //Delete name unit
                                $.ajax({
                                    type: "POST",
                                    url: '@Url.Action("DeleteDmDVT", "DmHangHoa")/' + delete_id,
                                    success: function (data) {
                                        $('#TableUnit').DataTable().ajax.reload();
                                        $('#DVT_ID').empty();
                                        loadListUnit();
                                        toastr.success('Bạn đã xóa được đối tượng này!', 'Thành công Alert', { timeOut: 5000 });
                                    },
                                    error: function (data) {
                                        console.log('Error:', data);
                                    }
                                });
                            } else {
                                toastr.error('Bạn không thể xóa, tên này đã sử dụng trong hàng hóa!', 'Không thành công Alert', { timeOut: 5000 });
                            }
                        }
                    });

                }

            });
            //Load Popup Modal nhom hang hoa
            $('#btn_nhomhh').click(function () {
                var url = $('#myModalGroupProduct').data('url');
                $.get(url, function (data) {
                    $('#myModalGroupProduct').html(data);
                    $('#myModalGroupProduct').modal('show');
                    loadListGroupProductModal();
                    $("#TableGroupProduct").DataTable({
                        "ajax": {
                            "url": "/DmHangHoa/GetListNhomHang",
                            "type": "GET",
                            "datatype": "json",
                        },
                        "columns": [
                            { "data": "LoaiHH_ID" },
                            { "data": "TenLoaiHH" },
                            {
                                "data": "LoaiHH_ID", "render": function (data) {
                                    return "<a href='javascript:void(0);' id='btn_edit_groupproduct' data-id=" + data + " class='btn btn-sm btn-info' style='margin-left:5px'><i class='fas fa-edit'></i> Sửa</a><a href='javascript:void(0);' id='btn_delete_groupproduct' data-id=" + data + " class='btn btn-sm btn-danger' style='margin-left:5px'><i class='fas fa-trash'></i> Xóa</a>";
                                },
                            },
                        ],
                        "language": {

                            "emptyTable": "Chưa có nội dung hiện thị"
                        }
                    });
                });
            })
            //Save nhom hang
            $(document).on('click', '#btn_groupproduct_save', function () {
                var tennhomhang = $('#GroupProductName_add').val();
                var congty_id = "@Session["congty_id"]";
                var nguyenlieu = $('#cboxNguyenLieu').is(":checked");
                var status = 0;

                var statusLoi = $("#divStatus");
                statusLoi.html("Checking....").removeClass();

                if (tennhomhang === "") {
                    toastr.error('Chưa nhập tên !', 'Bị lỗi', { timeOut: 3000 });
                    return;
                }
                //check name already
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CheckNhomHang", "DmHangHoa")',
                    data: { name: tennhomhang },
                    success: function (data) {
                        if (data == true) {
                            statusLoi.html(name + " Tên này nhập được!").addClass("green");
                            //Create group product
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("CreateNhomHang", "DmHangHoa")',
                                data: {
                                    TenLoaiHH: tennhomhang,
                                    TenCongTy_ID: congty_id,
                                    NhomNguyenLieu: nguyenlieu,
                                    Status: status
                                },
                                success: function (data) {
                                    toastr.success('Bạn đã tạo thành công!', 'Thành công Alert', { timeOut: 3000 });
                                    $('#myModalGroupProduct').modal('hide');
                                    //$('#LoaiHH_id_add').empty();
                                    loadListGroupProduct();
                                },
                                error: function (data) {
                                    console.log('Error:', data);
                                }

                            });
                        } else {
                            statusLoi.html(name + " Tên này đã có!").addClass("red");
                        }
                    }
                });


            });
            //Save and continue nhom hang
            $(document).on('click', '#btn_groupproduct_continue', function () {
                var tennhomhang = $('#GroupProductName_add').val();
                var congty_id = "@Session["congty_id"]";
                var nguyenlieu = $('#cboxNguyenLieu').is(":checked");
                var status = 0;

                var statusLoi = $("#divStatus");
                statusLoi.html("Checking....").removeClass();

                if (tennhomhang === "") {
                    toastr.error('Chưa nhập tên !', 'Bị lỗi', { timeOut: 3000 });
                    return;
                }
                //check name already
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CheckNhomHangByName", "DmHangHoa")',
                    data: { name: tennhomhang },
                    success: function (data) {
                        if (data == true) {
                            statusLoi.html(name + " Tên này nhập được!").addClass("green");
                            //Create group product
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("CreateNhomHang", "DmHangHoa")',
                                data: {
                                    TenLoaiHH: tennhomhang,
                                    TenCongTy_ID: congty_id,
                                    NhomNguyenLieu: nguyenlieu,
                                    Status: status
                                },
                                success: function (data) {
                                    toastr.success('Bạn đã tạo thành công!', 'Thành công Alert', { timeOut: 3000 });
                                    $('#LoaiHH_id_add').val("");
                                    $('#GroupProductName_add').val("");
                                    $('#TableGroupProduct').DataTable().ajax.reload();
                                    statusLoi.html(name + " Đã nhập thành công!").addClass("green");
                                    loadListGroupProduct();
                                },
                                error: function (data) {
                                    console.log('Error:', data);
                                }

                            });
                        } else {
                            statusLoi.html(name + " Tên này đã có!").addClass("red");
                        }
                    }
                });


            });
            //btn Edit nhom hang
            $(document).on('click', '#btn_edit_groupproduct', function () {
                var edit_id = $(this).data("id");
                $.ajax({
                    url: "/DmHangHoa/EditNhomHangById",
                    type: "GET",
                    dataType: "JSON",
                    data: { id: edit_id },
                    success: function (data) {
                        $('#LoaiHH_id_add').val(data.LoaiHH_ID);
                        $('#GroupProductName_add').val(data.TenLoaiHH);
                        $('#cboxNguyenLieu').prop('checked', data.NhomNguyenLieu);
                        //click link to show tabs
                        $('#linkGroupTab').find('a').trigger('click');
                        $('#btn_groupproduct_continue').hide();
                        $('#btn_groupproduct_save').hide();
                        $('#btn_groupproduct_edit_save').show();
                        $('#btn_groupproduct_cancel').show();
                    },
                });
            });
            //btn save Edit nhom hang
            $(document).on('click', '#btn_groupproduct_edit_save', function () {
                var id = $('#LoaiHH_id_add').val();
                var name = $('#GroupProductName_add').val();
                var congty_id = "@Session["congty_id"]";
                var nguyenlieu = $('#cboxNguyenLieu').is(":checked");
                var status = 0;
                if (name === "") {
                    toastr.error('Chưa nhập tên !', 'Bị lỗi', { timeOut: 3000 });
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CheckIdAndTenNhom", "DmHangHoa")',
                    data: { id: id, name: name },
                    success: function (data) {
                        if (data == true) {
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("UpdateEditNhomHang", "DmHangHoa")',
                                data: { LoaiHH_ID: id, TenLoaiHH: name, TenCongTy_ID: congty_id, NhomNguyenLieu: nguyenlieu, Status: status },
                                success: function (data) {
                                    toastr.success('Bạn đã sửa đối tượng này!', 'Thành công Alert', { timeOut: 5000 });
                                    $('#LoaiHH_id_add').val('');
                                    $('#GroupProductName_add').val('');
                                    $('#TableGroupProduct').DataTable().ajax.reload();
                                    //click link to show tabs
                                    $('#linkListGroupTab').find('a').trigger('click');
                                    $('#btn_groupproduct_continue').show();
                                    $('#btn_groupproduct_save').show();
                                    $('#btn_groupproduct_edit_save').hide();
                                    $('#btn_groupproduct_cancel').hide();

                                },
                                error: function (data) {
                                    console.log('Error:', data);
                                }
                            });
                        }
                        else {
                            //Check ten
                             $.ajax({
                                type: "POST",
                                url: '@Url.Action("CheckTenNhomHang", "DmHangHoa")',
                                data: { name: name },
                                success: function (data) {
                                    if (data == false) {
                                         $.ajax({
                                                type: "POST",
                                                url: '@Url.Action("UpdateEditNhomHang", "DmHangHoa")',
                                                data: { LoaiHH_ID: id, TenLoaiHH: name, TenCongTy_ID: congty_id, NhomNguyenLieu: nguyenlieu, Status: status },
                                                success: function (data) {
                                                    toastr.success('Bạn đã sửa đối tượng này!', 'Thành công Alert', { timeOut: 5000 });
                                                    $('#LoaiHH_id_add').val('');
                                                    $('#GroupProductName_add').val('');
                                                    $('#TableGroupProduct').DataTable().ajax.reload();
                                                    //click link to show tabs
                                                    $('#linkListGroupTab').find('a').trigger('click');
                                                    $('#btn_groupproduct_continue').show();
                                                    $('#btn_groupproduct_save').show();
                                                    $('#btn_groupproduct_edit_save').hide();
                                                    $('#btn_groupproduct_cancel').hide();

                                                },
                                                error: function (data) {
                                                    console.log('Error:', data);
                                                }
                                         });
                                    }
                                    else {
                                        toastr.error('Mã đối tượng này đã có !', 'Bị lỗi', { timeOut: 3000 });
                                    }
                                },
                                error: function () {
                                    alert("Error!");
                                }

                             });
                        }
                    },
                    error: function (data) {
                        console.log('Error:', data);
                    }
                });
            });
            //btn cancel unit
            $(document).on('click', '#btn_groupproduct_cancel', function () {
                $('#LoaiHH_id_add').val('');
                $('#GroupProductName_add').val('');
                //click link to show tabs
                $('#linkListGroupTab').find('a').trigger('click');
                $('#btn_groupproduct_continue').show();
                $('#btn_groupproduct_save').show();
                $('#btn_groupproduct_edit_save').hide();
                $('#btn_groupproduct_cancel').hide();
                $('#LoaiHH_ID_Modal').attr('disabled', false);

            });
            //Delete group product
            $(document).on('click', '#btn_delete_groupproduct', function () {
                var delete_id = $(this).data("id");
                if (confirm('Bạn có muốn xóa tên nhóm hàng này ?')) {
                    //Check ID in product
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("CheckNhomHanginDmHangHoa", "DmHangHoa")',
                        data: { Id: delete_id },
                        success: function (data) {
                            if (data == true) {
                                //Delete name group product
                                $.ajax({
                                    type: "POST",
                                    url: '@Url.Action("DeleteNhomHang", "DmHangHoa")/' + delete_id,
                                    success: function (data) {
                                        $('#TableGroupProduct').DataTable().ajax.reload();
                                        //$('#DVT_ID').empty();
                                        loadListGroupProduct();
                                        toastr.success('Bạn đã xóa được đối tượng này!', 'Thành công Alert', { timeOut: 5000 });
                                    },
                                    error: function (data) {
                                        console.log('Error:', data);
                                    }
                                });
                            } else {
                                toastr.error('Bạn không thể xóa, tên này đã sử dụng trong hàng hóa!', 'Không thành công Alert', { timeOut: 5000 });
                            }
                        }
                    });

                }

            });
            //Create product
            $('#btn_create_product').click(function () {

                var codeproduct = $('#txtMaHH').val();
                var nameproduct = $('#txtTenHH').val();
                var dvt_id = $('#DVT_ID option:selected').val();
                var loaihh_id = $('#LoaiHH_ID option:selected').val();
                var giaban1 = $('#txtGiaBan1').val().replace(/,/g, "");
                var giaban2 = $('#txtGiaBan2').val().replace(/,/g, "");
                var giaban3 = $('#txtGiaBan3').val().replace(/,/g, "");
                var congty_id = "@Session["congty_id"]";
                var status = 0;
                if (codeproduct === "") {
                    toastr.error('Chưa nhập mã hàng !', 'Bị lỗi', { timeOut: 3000 });
                    return;
                }
                if (codeproduct.indexOf(' ') !== -1) {
                    toastr.error('Không được có khoản trắng !', 'Bị lỗi', { timeOut: 3000 });
                    return;
                }
                if (nameproduct === "") {
                    toastr.error('Chưa nhập tên hàng !', 'Bị lỗi', { timeOut: 3000 });
                    return;
                }

                //Check product
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CheckMaHangHoa", "DmHangHoa")',
                    data: { CodeProduct: codeproduct },

                    success: function (data) {
                        if (data == true) {
                            //Create product
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("CreateDanhMucDnMH", "DmHangHoa")',
                                data: {
                                    MaDnMH: codeproduct,
                                    TenDnMH: nameproduct,
                                    DVT_ID: dvt_id,
                                    LoaiHH_ID: loaihh_id,
                                    GiaBan1: giaban1,
                                    GiaBan2: giaban2,
                                    GiaBan3: giaban3,
                                    TenCongTy_ID: congty_id,
                                    Status: status
                                },
                                success: function (output) {
                                    var last_id = output.DnMH_ID; // this is the id
                                    $('#txtDnMH_ID').val(last_id);
                                    if ($('#spCount').text() == 0) {
                                        window.location.href = "/DmHangHoa/Index";
                                    }
                                    else {
                                        insertDetailNguyenLieu();
                                    }
                                },
                                error: function (data) {
                                    console.log('Error:', data);
                                }
                            });
                        }
                        else {
                            toastr.error('Mã hàng này đã có !', 'Bị lỗi', { timeOut: 3000 });
                        }
                    }
                });
            })
            //Create detail product nguyen lieu dinh luong
            function insertDetailNguyenLieu() {
                var products = new Array();
                $("#TableCT TBODY TR").each(function () {
                    var row = $(this);
                    var product = {};
                    //var data1 = oTable.row( $(this).parents('tr') ).data()["position"];
                    product.DnMH_ID = $('#txtDnMH_ID').val();
                    product.HH_ID = CT.row(this).data()[0];
                    product.DVT_ID = CT.row(this).data()[1];
                    product.SoLuong = tp_soluong_currency_format(row.find("#txtSoLuong").val());
                    products.push(product);

                });
                //Send the JSON array to Controller using AJAX.
                $.ajax({
                    type: "POST",
                    url: "/DmHangHoa/InsertChiTietNguyenLieu",
                    data: JSON.stringify(products),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        toastr.success('Bạn đã tạo thành công!', 'Thành công Alert', { timeOut: 3000 });
                        ClearFormProduct();
                        window.location.href = "/DmHangHoa/Index";
                    }
                });
            }
            //Create product continue
            $('#btn_create_productContinue').click(function () {
                var codeproduct = $('#txtMaHH').val();
                var nameproduct = $('#txtTenHH').val();
                var dvt_id = $('#DVT_ID option:selected').val();
                var loaihh_id = $('#LoaiHH_ID option:selected').val();
                var giaban1 = $('#txtGiaBan1').val().replace(/,/g, "");
                var giaban2 = $('#txtGiaBan2').val().replace(/,/g, "");
                var giaban3 = $('#txtGiaBan3').val().replace(/,/g, "");
                var congty_id = "@Session["congty_id"]";
                var status = 0;
                if (codeproduct === "") {
                    toastr.error('Chưa nhập mã hàng !', 'Bị lỗi', { timeOut: 3000 });
                    return;
                }
                if (codeproduct.indexOf(' ') !== -1) {
                    toastr.error('Không được có khoản trắng !', 'Bị lỗi', { timeOut: 3000 });
                    return;
                }
                if (nameproduct === "") {
                    toastr.error('Chưa nhập tên hàng !', 'Bị lỗi', { timeOut: 3000 });
                    return;
                }

                //Check product
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CheckMaHangHoa", "DmHangHoa")',
                    data: { CodeProduct: codeproduct },
                    success: function (data) {
                        if (data == true) {
                             //Create product
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("CreateDanhMucDnMH", "DmHangHoa")',
                                data: {
                                    MaDnMH: codeproduct,
                                    TenDnMH: nameproduct,
                                    DVT_ID: dvt_id,
                                    LoaiHH_ID: loaihh_id,
                                    GiaBan1: giaban1,
                                    GiaBan2: giaban2,
                                    GiaBan3: giaban3,
                                    TenCongTy_ID: congty_id,
                                    Status: status
                                },
                                success: function (output) {
                                    var last_id = output.DnMH_ID; // this is the id
                                    $('#txtDnMH_ID').val(last_id);
                                    if ($('#spCount').text() == 0) {
                                        window.location.href = "/DmHangHoa/Index";
                                    }
                                    else {
                                        insertDetailNguyenLieuTiep();
                                    }

                                },
                                error: function (data) {
                                    console.log('Error:', data);
                                }
                            });
                        }
                        else {
                            toastr.error('Mã hàng này đã có !', 'Bị lỗi', { timeOut: 3000 });
                        }
                    }
                });


            })
            //Create detail product nguyen lieu dinh luong
            function insertDetailNguyenLieuTiep() {
                var products = new Array();
                $("#TableCT TBODY TR").each(function () {
                    var row = $(this);
                    var product = {};
                    //var data1 = oTable.row( $(this).parents('tr') ).data()["position"];
                    product.DnMH_ID = $('#txtDnMH_ID').val();
                    product.HH_ID = CT.row(this).data()[0];
                    product.DVT_ID = CT.row(this).data()[1];
                    product.SoLuong = tp_soluong_currency_format(row.find("#txtSoLuong").val());
                    products.push(product);

                });
                //Send the JSON array to Controller using AJAX.
                $.ajax({
                    type: "POST",
                    url: "/DmHangHoa/InsertChiTietNguyenLieu",
                    data: JSON.stringify(products),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        toastr.success('Bạn đã tạo thành công!', 'Thành công Alert', { timeOut: 3000 });
                        ClearFormProduct();
                    }
                });
            }
            function tp_soluong_currency_format(obs) {
                if (obs == '')
                    return 0;
                else
                    return parseFloat(obs.replace(/,/g, ''));
            }

        });


    </script>
}




